@use "sass:list";

.star-wrapper {
	position: absolute;
	z-index: 100;
}

$variations: (
	"broken": (#ff588e, 4px),
	"blue":   (#58d8ff, 1px),
	"green":  (#95ff58, 1px),
	"yellow": (#ffc900, 1px),
	"orange": (#ff8a58, 1px)
);

.star {
	$this: &;
	background-color: white;
	border-radius: 100%;
	cursor: pointer;
	pointer-events: all;
	box-shadow: 0 0 20px 1px white;
	animation-iteration-count: infinite;
	animation-name: pulse-animation;
	animation-play-state: var(--animation-play-state);

	&__line-h, &__line-v {
		position: absolute;
		background-color: white;
		top: 50%;
		left: 50%;
	}

	&__line-h {
		height: 1px;
		width: 200%;

		transform: translate(-50%, -50%);
	}

	&__line-v {
		height: 200%;
		width: 1px;
		background-color: white;

		transform: translate(-50%, -50%);
	}

	@each $name, $params in $variations {
		$color: list.nth($params, 1);
		$shadow-size: list.nth($params, 2);

		&--variation-#{$name} {
			background-color: $color;
			box-shadow: 0 0 20px $shadow-size $color;

			#{$this}__line-h,
			#{$this}__line-v {
				background-color: $color;
			}
		}
	}
}

@keyframes pulse-animation {
	0% {
		opacity: 1;
		transform: scale(1)
	}
	50% {
		opacity: 0.3;
		transform: scale(0.7)
	}
	100% {
		opacity: 1;
		transform: scale(1)
	}
}
