@use "sass:list";
@use "../../scss/mixins";

.star-wrapper {
	position: absolute;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		animation: spinReverse 5s infinite linear;
	}
}

.spike-star {
	position: absolute;
	cursor: pointer;
	pointer-events: all;
	animation-iteration-count: infinite;
	animation-name: pulse-animation;
	animation-play-state: var(--animation-play-state);
	will-change: opacity, transform;
}

.star {
	$this: &;
	border-radius: 100%;
	cursor: pointer;
	pointer-events: all;
	animation-iteration-count: infinite;
	animation-name: pulse-animation;
	animation-play-state: var(--animation-play-state);
	transition: transform 0.6s, opacity 0.6s;

	will-change: opacity, transform;

	&:hover {
		animation: none;
		transform: scale(2);
		opacity: 1;
		animation-play-state: paused;
	}
}

@include mixins.pulse-animation;
