@use "../../../scss/mixins";

.world-form {
	display: grid;
	align-items: end;

	grid-template-columns: repeat(2, minmax(0, 1fr)) min-content repeat(2, minmax(0, 1fr));
	grid-template-rows: repeat(3, minmax(0, auto));

	@include mixins.for-tablet-portrait-up{
		grid-template-columns: repeat(8, minmax(0, auto));
		grid-template-rows: repeat(3, minmax(0, auto));
	}

	&__item {
		align-items: end;
		gap: calc(var(--spacing));

		& > :only-child, & > :nth-child(2) {
			align-self: center;
		}

		@include mixins.for-tablet-portrait-up {
			grid-template-rows: subgrid;
			grid-template-columns: minmax(0, 1fr);
			grid-row: span 3;

			& > :only-child {
				grid-row: 2;
			}
		}

		& > .separator--full {
			grid-row: 1 / -1;
		}
	}
}
