@use "../../../scss/mixins";
//@use "../../scss/variables.scss";

// TODO: make sense to use tailwind button instead
.button {
	$this: &;
	transition: opacity 200ms ease-in-out;
	cursor: pointer;
	box-shadow: none;
	border: none;
	pointer-events: all;

	//
	&--size-medium {
		width: 2rem;
		height: 2rem;
		@include mixins.for-tablet-portrait-up{
			width: 3rem;
			height: 3rem;
		}
	}

	&--transparent {
		background-color: transparent;

		@include mixins.reset-button;
		opacity: 0.2;

		&:hover {
			opacity: 0.4;
		}

		&:active, &.active {
			opacity: 0.6;
		}
	}

	&--variation-hollow {
		background-color: transparent;

		&#{$this}--color-white {
			color: white;
		}
	}
}
