@use "../../../scss/mixins";
//@use "../../scss/variables.scss";

.button {
	$this: &;
	transition: opacity 200ms ease-in-out;
	cursor: pointer;
	box-shadow: none;
	border: none;

	&--size-medium {
		width: 3rem;
		height: 3rem;
	}

	&--transparent {
		background-color: transparent;

		@include mixins.clickable;
		opacity: 0.2;

		&:hover {
			opacity: 0.4;
		}

		&:active, &.active {
			opacity: 0.6;
		}
	}

	&--variation-hollow {
		background-color: transparent;

		&#{$this}--color-white {
			color: white;
		}
	}
}
