@use "scss/mixins";

.layout {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: var(--layout-layer);
	pointer-events: none;

	@include mixins.for-desktop-up {
		gap: 0;
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;

		width: 100%;
		height: 100%;

		@include mixins.for-tablet-portrait-up{
			flex-direction: row;
			align-content: center;
		}
	}

	&__world-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		position: relative;
		z-index: var(--layout-main);
		width: 100%;

		margin-top: auto;

		@include mixins.for-tablet-landscape-up{
			margin-top: unset;
			width: 50%;
		}
	}

	&__clocks-container {
		flex-shrink: 0;
		position: relative;
		z-index: var(--layout-aside);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: auto;
		margin-bottom: auto;

		@include mixins.for-tablet-landscape-up{
			width: 50%;
			justify-content: flex-end;
		}
	}

	&__header {
		width: 100%;

		@include mixins.for-tablet-portrait-up{
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}
