@use "scss/mixins";

.layout {
	position: relative;
	z-index: var(--layout-layer);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	flex-direction: column;
	height: 100%;

	@include mixins.for-tablet-landscape-up{
		flex-direction: row;
	}

	@include mixins.for-desktop-up {
		gap: 0;
	}

	&__world-container {
		display: flex;
		align-items: center;
		flex-shrink: 0;
		position: relative;
		z-index: var(--layout-main);
		width: 100%;

		margin-top: auto;

		@include mixins.for-tablet-portrait-up{
			width: 50%;
		}

		@include mixins.for-tablet-landscape-up{
			margin-top: unset;
		}

		& > .world {
			position: absolute;
			transform: translate(25%, -15%);
			@include mixins.for-tablet-landscape-up {
				position: relative;
				transform: unset;
			}
		}
	}

	&__clocks-container {
		flex-shrink: 0;
		position: relative;
		z-index: var(--layout-aside);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: auto;
		margin-bottom: auto;

		@include mixins.for-tablet-portrait-up{
			width: 50%
		}
	}
}
