@mixin clickable {
	padding: 0;
	border: none;
	&:hover, &:focus, &:active {
		outline: none;
		border: none;
		box-shadow: none;
	}
}

@mixin spin-animation {
	@keyframes spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
}

@mixin fadeIn-animation {
	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}
