@use "variables.scss";

@font-face {
	font-family: 'dyna-puff';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("#{variables.$fontsPath}/#{variables.$fontName}_regular.woff2") format('woff2');
}

@font-face {
	font-family: 'dyna-puff';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("#{variables.$fontsPath}/#{variables.$fontName}_medium.woff2") format('woff2');
}

@font-face {
	font-family: 'dyna-puff';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("#{variables.$fontsPath}/#{variables.$fontName}_semi_bold.woff2") format('woff2');
}

@font-face {
	font-family: 'dyna-puff';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("#{variables.$fontsPath}/#{variables.$fontName}_bold.woff2") format('woff2');
}
