$phoneUp: 320px;
$tabletPortraitUp: 600px;
$tabletLandscapeUp: 900px;
$desktopUp: 1200px;

$fontName: "dyna_puff";
$fontsPath: "../assets/fonts/dyna-puff";


:root {
	--background-layer: 1;
	--stars-layer: 2;
	--sun-layer: 10;
	--world-aura-layer: 15;
	--cloud-layer-before: 19;
	--world-layer: 20;
	--cloud-layer-after: 21;
	--layout-layer: 100;
	--overlay-layer: 1000;

	--animation-play-state: running;

	--layout-header: 200;
	--layout-main: 10;
	--fontSizeBase: 16px;
}
