@use "../../scss/mixins";
@use "../../scss/variables.scss";

.clocks {
    $c: &;
    position: relative;
    z-index: 100;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: white;
    pointer-events: all;

    font-family: "dyna-puff", system-ui, Avenir, Helvetica, Arial, sans-serif;

    border-radius: 14px;

    box-shadow: 0 0 16px rgba(35,82,152,0);
    backdrop-filter: blur(0px);

    transition: backdrop-filter 0.4s, box-shadow 0.4s;

    @include mixins.for-tablet-portrait-up {
        gap: 1rem;
    }

    &:hover
    {
        backdrop-filter: blur(8px);
        box-shadow: 0 0 22px rgba(35,82,152,0.25);
    }

    &__display {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: clamp(3rem, 10vw, 6rem);

        gap: 1rem;
        text-align: center;
    }

    &__item-wrapper {
        position: relative;
        pointer-events: all;

        & > * {
            position: relative;
            z-index: 1;
        }
        
        &:before {
            display: block;
            opacity: 0;
            content: '';
            width: 100%;
            position: absolute;
            z-index: 0;
            left: 0;
            bottom: 0;
            top: 0;
            ransition-behavior: allow-discrete;
            transition: transform 0.2s, transform-origin 0.2s, opacity 0.4s;
            background: linear-gradient(0deg, transparent 0%, color-mix(in srgb, var(--color-white), transparent 80%) 50%, transparent 100%);
        }
        
        &:hover, &:focus {
            &:before{
                opacity: 1;
            }

            &:has(.time-changer:not(.descender):hover) {
                &:before {
                    transform-origin: bottom center;
                    transform: scale(1, 1.2);
                }
            }

            &:has(.time-changer.descender:hover) {
                &:before {
                    transform-origin: top center;
                    transform: scale(1, 1.2);
                }
            }
        }

        &:hover, &:focus {
            .fade-out {
                opacity: 1;
            }
        }

        &:focus {
            box-shadow: 0 0 3px var(--color-white);
        }
    }

    &__item {
        width: clamp(4rem, 15vw, 8rem);
        opacity: 1;
        transition: opacity 0.4s;

        &.fade-out {
            opacity: 0.2;
        }
    }

    &__item-changer-wrapper {
        display: flex;
        justify-content: center;
    }
}

