@use "../../scss/mixins";
@use "../../scss/variables.scss";

.clocks {
    position: relative;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: white;

    font-family: "dynaPuff", system-ui, Avenir, Helvetica, Arial, sans-serif;

    @include mixins.for-tablet-portrait-up {
        gap: 1rem;
    }

    &__clickable-item {
        opacity: 0.2;
        cursor: pointer;
        &:hover {
            opacity: 0.4;
        }

        &:active {
            opacity: 0.6;
        }
    }

    &__player-wrapper {
        order: 2;
        width: 100%;
        display: flex;
        justify-content: center;

        @include mixins.for-desktop-up {
            width: auto;
            order: unset;
        }
    }

    &__player {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        width: clamp(3rem, 10vw, 5rem);
        height: clamp(3rem, 10vw, 5rem);

        background-color: transparent;

        transition: opacity 0.2s;

        @include mixins.clickable;

        &.fade-in {
            opacity: 0.6;
        }
    }

    &__display {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: clamp(3rem, 10vw, 6rem);

        gap: 1rem;
        text-align: center;
    }

    &__item {
        width: clamp(4rem, 15vw, 8rem);

        opacity: 1;
        transition: opacity 1s;

        &.fade-out {
            opacity: 0.2;
        }
    }

    &__item-changer-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__item-changer {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        fill: white;

        width: clamp(2rem, 8vw, 3.75rem);
        height: clamp(2rem, 8vw, 3.75rem);

        background: transparent;
        outline: none;
        border: none;
        box-shadow: none;
        opacity: 0.2;
        transition: opacity 0.2s;

        @include mixins.clickable;

        &.descender {
            transform: scale(1,-1);
        }

        &.fade-in {
            opacity: 0.6;
        }
    }
}

