
/*if orientation is album*/
/*if orientation is portrait*/
.sun-orbit {
    position: absolute;
    z-index: var(--sun-layer);
    transform-origin: 50% 0%;
    transition: transform 1s;
    height: calc(45vw - 35px);
    display: flex;
    align-items: end;
    left: 0;
    top: 50%;
    pointer-events: none;
}

.sun {
    position: relative;
    width: 70px;
    height: 70px;

    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 10;
        width: 100%;
        height: 100%;
        transition: transform 1s;

        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
        }

        &:before {
            position: relative;
            z-index: 2;
            border-radius: 50%;
            background-color: orange;
            box-shadow: 0 0 35px 5px yellow, 0 0 25px 10px yellow inset;
        }
    }
}
