@use "../../scss/mixins";

/*if orientation is album*/
/*if orientation is portrait*/
.sun-orbit {
    height: 100vh;

    position: absolute;
    z-index: var(--sun-layer);
    transform: translateX(-50%) translateY(30%);
    transition: transform 1s;
    display: flex;
    align-items: center;

    left: 50%;
    bottom: 0%;

    pointer-events: none;

    @include mixins.for-tablet-landscape-up {
        align-items: end;
        transform: translateX(-50%) translateY(-30svh);
    }

    @include mixins.for-desktop-up {
        height: calc(45vw - 35px);

        transform-origin: 50% 0%;

        left: 0;
        top: 50%;
        transform: rotate(var(--sun-angle));
    }
}

.sun {
    position: relative;
    width: 70px;
    height: 70px;

    transition: transform 1s;

    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 10;
        width: 100%;
        height: 100%;
        transition: transform 1s;

        transform: translateY(calc(var(--radiants) * 30vh));

        @include mixins.for-desktop-up {
            transform: translateY(calc(var(--amplitude) * 30VH))
        }

        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
        }

        &:before {
            position: relative;
            z-index: 2;
            border-radius: 50%;
            background-color: orange;
            box-shadow: 0 0 35px 5px yellow, 0 0 25px 10px yellow inset;
        }
    }
}
