@use "../../scss/mixins";

.world {
    position: relative;
    z-index: 10;
    width: 512px;
    height: 512px;
}

.world__block-wrapper:has([class*='cloud-']) {
    animation-name: lift;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 50% 50%;
}

.world__block-wrapper:has(.cloud-0) {
    animation-duration: 7s;
}
.world__block-wrapper:has(.cloud-1) {
    animation-duration: 10s;
}
.world__block-wrapper:has(.cloud-2) {
    animation-duration: 12s;
}
.world__block-wrapper:has(.cloud-3) {
    animation-duration: 20s;
}
.world__block-wrapper:has(.cloud-4) {
    animation-duration: 16s;
}
.world__block-wrapper:has(.cloud-5) {
    animation-duration: 18s;
}

.world__block-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &.spin {
        animation-duration: 200s;
        animation-name: spin;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

.world__block {
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;

    animation-name: spin;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.ground {
    background-image:
            url("../../assets/small_world/ground.png");
    animation-duration: 90s;
}

.cloud-0 {
    background-image: url("../../assets/small_world/cloud-0.png");
    animation-duration: 160s;
}

.cloud-1 {
    background-image: url("../../assets/small_world/cloud-1.png");
    animation-duration: 135s;
}

.cloud-2 {
    background-image: url("../../assets/small_world/cloud-2.png");
    animation-duration: 108s;
}

.cloud-3 {
    background-image: url("../../assets/small_world/cloud-3.png");
    animation-duration: 142s;
}

.cloud-4 {
    background-image: url("../../assets/small_world/cloud-4.png");
    animation-duration: 152s;
}
.cloud-5 {
    background-image: url("../../assets/small_world/cloud-5.png");
    animation-duration: 118s;
}

@include mixins.spin-animation;
@include mixins.lift-animation;
