@use "../../scss/mixins";

.world {
    position: relative;
    z-index: var(--world-layer);
    width: 512px;
    height: 512px;
    flex-shrink: 0;

    & > * {
        user-select: none;
    }

    &__block {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transform-origin: center;

        display: block;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 0;

        animation-name: spin;
        animation-duration: 120s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        &.spin {
            animation-duration: 200s;
            animation-name: spin;
            animation-play-state: var(--animation-play-state);
        }

        &.fast-spin {
            animation-duration: 90s;
            animation-name: spin;
            animation-play-state: var(--animation-play-state);
        }
    }
}

.world-orbit {
    pointer-events: none;
    position: absolute;
    transform-origin: 50% 100%;
    display: flex;
    left: 50%;
    bottom: 50%;
    height: 55%;

    animation-play-state: var(--animation-play-state);

    &.before {
        z-index: var(--cloud-layer-before);
    }

    &.after {
        z-index: var(--cloud-layer-after);
    }
}

@for $i from 0 through 36 {
    .world-orbit--start-#{$i * 10} {
        --start-angle: #{$i * 10}deg;
        transform: translateX(-50%) rotate(var(--start-angle));
        animation-name: world-orbit-spin;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

@keyframes world-orbit-spin {
    to {
        transform: translateX(-50%) rotate(calc(360deg + var(--start-angle)));
    }
}

.world-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;

    display: flex;
    justify-content: flex-end;

    & > .world {
        transform: translateY(-50%) translateX(50%);
    }

    @include mixins.for-tablet-portrait-up {
        position: relative;
        width: auto;
        height: auto;
        left: 0;

        & > .world {
            transform: translateX(0%);
        }
    }
}

@include mixins.spin-animation;
